
@{
    ViewBag.Title = "Index";
}
<div style="top:30%">
    <a href="http://localhost:58057/Home/chat?user=admin&reuser=test">對象1聊天室</a>
    <a href="http://localhost:58057/Home/chat?user=test&reuser=admin">對象2聊天室</a>
</div>


